
<div class="slider-cards">
  <div class="slider-card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dygqssgke/image/upload/v1700302473/austin-distel-wawEfYdpkag-unsplash_ahcxef.jpg)">
  </div>
  <div class="slider-card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dygqssgke/image/upload/v1700302459/austin-distel-mpN7xjKQ_Ns-unsplash_idrpxv.jpg)">
  </div>

  <div class="slider-card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dygqssgke/image/upload/v1700319479/austin-distel-Ht9FPY8XLog-unsplash_i2soyt.jpg)">
  </div>
</div>
<div class="container">
  <div class="info">
    <h1><%= @space.name %></h1>
    <p><%= @space.description %></p>
    <br>
    <p id="location"><%= @space.location %></p>
    <br>
    <div class="wrapper">
      <h3>Amenities</h3>
      <p><%= @space.amenties %></p>
    </div>
    <br>
    <p>R<%= @space.price %>/desk pm</p>
    <div class="container mt-4">
  <div class="buttons-container">
    <%= link_to "Book", new_space_booking_path(@space), class: "btn btn-primary", role: "button" %>
    <%= link_to "Back", spaces_path, class: "btn btn-secondary ml-2", role: "button" %>
  </div>
  </div>
</div>


</div>
